# Gitignore file for generated object files etc.

## JAVA Stuff

#Built file
CIJFX.jar

# Generated bin folder
bin/**

# Any other intermediate class files.
*.class

## C++ Stuff

# Output files fromm build.
*.exe
*.obj
*.res
*.idb
*.ilk
*.enc

ipch/*
x64/*
x64

# code analysis
*.pchast
*.sarif
*.nativecodeanalysis.*

# Compiler logs
*.tlog

#incremental linker files
*.iobj
*.ipdb

#Intellisense database and lock file, inc old versions
*.VC.db
*.VC.VC.opendb
*.ncb

#Class wizard file
*.clw

# Workspace options file
*.opt

# Build log
*.plg

# last resource editor state
*.aps

# build helper
*.ipch

# build helper
*.lastbuildstate

# build result. Can be 3rd party
*.lib

# build log
*.log

# build helper. Can be written yourself.
#*.manifest

# build helper
*.pch

# build result
*.pdb

# build helper
*.res

# intellisense dbase
*.sdf

# solution user options
*.suo
*.tlog  # build log

# Various
**/obj/Debug
**/obj/Release
**/obj/Debug/**
**/obj/Release/**

*.cache

CGC_Sim_IOS/CGC_Sim_IOS/publish/

CGC_Sim_IOS/CGC_Sim_IOS/bin/



CGC_Sim_IOS/CGC_Sim_IOS/obj/
